<%=render 'nav'%>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <p>
  <label for="profile_department_id">Department:</label>
  <%= f.collection_select :department_id, Department.find(:all), :id, :name, :prompt => "Select a Department" %>
</p>
<p id="user_field">
  <label for="profile_user_id">User:</label>
  <%= f.collection_select :user_id, User.find(:all), :id, :email, :prompt => "Select a User" %>
</p>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
